
body {
  margin: 0 auto;
  max-width: 100em;
  padding: 4em 0;
  background: #CFCEC8;
}

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;

  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.5rem, 1fr));
  grid-auto-rows: minmax(11.5rem, auto);
  //grid-gap: 1em;
}



.module {
  /* Demo-Specific Styles */
  //background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* Flex Fallback */
  flex: 1 1 11.5rem;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

a{
  border:0;
  background:yellow;
  display: block;
  width:100%;
  height:100%;
  line-height: 0;
}
