$grid-columns-tablet: 6;
$grid-columns-desktop: 8;
$grid-rows-tablet: 1000;
$grid-rows-desktop: 21;
$container-max-width-mobile: 100%;
$container-max-width-tablet: 768px;
$container-max-width-desktop: 1024px;
