@import 'variables';
@import 'palette';
@import 'typography';
@import 'utilities';
@import 'components/card';
@import 'components/icons';
@import 'components/list';

* {
  box-sizing: border-box;
}

body {
  background-color: $color1;
  background-image: url('../../assets/img/bg.jpg');
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}
