.card {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.card--time {
  justify-content: center;
  .card__text {
    filter: hue-rotate(0);
    font-size: 1.35rem;
    @media screen and (min-width: #{$container-max-width-mobile-landscape}) {
      font-size: 2rem;
    }
    line-height: 1.06;
    text-align: center;
    transition: filter 0.5s ease-out;
    @supports (background-clip: text) {
      background: url('../../assets/img/bg-text.jpg') no-repeat 50% 50%;
      background-clip: text;
      color: transparent;
    }
  }
  &:hover,
  &:focus {
    .card__text {
      filter: hue-rotate(90deg);
    }
  }
}

.card--time,
.card--type-1 {
  background-color: $color3;
  background-image: url('../../assets/img/bg-mono.jpg');
  background-size: cover;
}

.card--type-1 {
  padding: 1rem;
  .card__text {
    filter: hue-rotate(0);
    font-size: 1rem;
    line-height: 1.35;
    transition: filter 0.5s ease-out;
    @media screen and (min-width: #{$container-max-width-tablet}) {
      font-size: 1.25rem;
      line-height: 1.35;
    }
    @supports (background-clip: text) {
      background: url('../../assets/img/bg-text.jpg') no-repeat 50% 50%;
      background-clip: text;
      color: transparent;
    }
  }
  &:not(.card--type-1--no-hover) {
    &:hover,
    &:focus {
      .card__text {
        filter: hue-rotate(180deg);
      }
    }
  }
}

// Artist names
.card--type-2 {
  background-color: $color5;
  padding-left: 0;
  padding-right: 0;
  .card__heading {
    color: $color3;
    @supports (-webkit-text-stroke: 2px $color7) {
      -webkit-text-stroke: 2px $color7;
      -webkit-text-fill-color: $color5;
    }
  }
  .card__text {
    color: $color3;
  }
}

.card--type-2--style--2 {
  background-color: $color6;
  .card__heading {
    @supports (-webkit-text-stroke: 2px $color7) {
      -webkit-text-stroke: 2px $color7;
      -webkit-text-fill-color: $color6;
    }
  }
}

.card--type-3 {
  align-items: center;
  background-color: $color4;
  justify-content: center;
  padding: 1rem;
  position: relative;
  text-align: center;
  .card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $color2;
    display: block;
    font-size: 0.75rem;
    height: 100%;
    letter-spacing: 0.15em;
    width: 100%;
  }
  .card__link--icon {
    &:hover,
    &:focus {
      color: $color3;
      .icon {
        fill: $color3;
      }
    }
  }
  .card__text {
    color: $color3;
    text-align: center;
  }
  .card__link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icon--instagram {
    height: 5rem;
    margin-top: -0.5rem;
    width: 5rem;
  }
}

.card--type-4 {
  background-color: $color5;
  justify-content: center;
  padding: 0;
  .card__text {
    color: $color3;
    text-align: center;
  }
}

.card--type-5 {
  background-color: $color6;
}

.card--type-6 {
  background-color: $color1;
  z-index: 1;
}

.card--type-7 {
  background-color: $color1;
  opacity: 0;
  z-index: 1;
}

.card--type-8 {
  align-items: center;
  display: flex;
  background-color: $color3;
  justify-content: center;
  padding: 1rem;
  @media screen and (min-width: #{$container-max-width-mobile-landscape}) {
    padding: 0;
  }
  .card__text {
    color: $color4;
    font-size: 1rem;
    line-height: 1.35;
    padding-left: 0.25rem;
    text-align: center;
    transition: color 0.2s ease-out;
    @media screen and (min-width: #{$container-max-width-tablet}) {
      font-size: 1.25rem;
      line-height: 1.35;
    }
  }
  &:hover,
  &:focus {
    .card__text {
      color: $color5;
    }
  }
}

.card--avatar {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
  }
  &.card--type-1 {
    &:before {
      background-color: $color3;
    }
  }
  &.card--type-2 {
    &:before {
      background-color: $color5;
    }
  }
  .card--type-2--style--2 {
    &:before {
      background-color: $color6;
    }
  }
  &.card--type-3 {
    &:before {
      background-color: $color4;
    }
  }
  &.card--type-4 {
    &:before {
      background-color: $color5;
    }
  }
  &.card--type-5 {
    &:before {
      background-color: $color6;
    }
  }
  &.card--type-6 {
    &:before {
      background-color: $color1;
    }
  }
  // Trigger captions.
  // Just use hover, unless you're iOS where we'll have to use JS to toggle a class :(
  &:hover,
  &.active {
    .card--avatar__caption {
      transform: scaleX(1);
    }
    .card--avatar__caption__text,
    .card--avatar__caption__quote {
      opacity: 1;
      transition: opacity .3s ease-out .1s;
    }
  }
  .img-fluid {
    filter: grayscale(1);
  }
}

.card--avatar__caption {
  background-color: $color2;
  display: none !important; // Disabled for now, to restore set this back to display: flex;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.15em;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  transform: scaleX(0);
  transition: transform .1s ease-out;
  // Dimensions
  min-height: 50vw;
  width: 50vw;
  @media screen and (min-width: #{$container-max-width-mobile-landscape}) {
    min-height: calc(#{$container-max-width-mobile-landscape} / #{$grid-columns-mobile-landscape});
    width: calc((#{$container-max-width-mobile-landscape} / #{$grid-columns-mobile-landscape}) * 2);
  }
  @media screen and (min-width: #{$container-max-width-tablet}) {
    min-height: calc(#{$container-max-width-tablet} / #{$grid-columns-tablet});
    width: calc((#{$container-max-width-tablet} / #{$grid-columns-tablet}) * 2);
  }
  @media screen and (min-width: #{$container-max-width-desktop}) {
    min-height: calc(#{$container-max-width-desktop} / #{$grid-columns-desktop});
    width: calc((#{$container-max-width-desktop} / #{$grid-columns-desktop}) * 2);
  }
  // Triangle
  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
  }
  //
  // Position - 2 possible positions, times 4 possible breakpoints
  //
  // RIGHT:
  @media screen and (max-width: #{$container-max-width-mobile-landscape - 1}) {
    &[data-placement-xs='right'] {
      text-align: left;
      top: 0;
      right: auto;
      bottom: auto;
      left: 100%;
      transform-origin: top left;
      &:before {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid $color2;
        border-bottom: 0.5rem solid transparent;
        border-left: none;
        transform: translateY(-50%);
        top: 25vw;
        right: auto;
        bottom: auto;
        left: -0.5rem;
      }
    }
  }
  @media screen and (min-width: #{$container-max-width-mobile-landscape}) and (max-width: #{$container-max-width-tablet - 1}) {
    &[data-placement-sm='right'] {
      text-align: left;
      top: 0;
      right: auto;
      bottom: auto;
      left: 100%;
      transform-origin: top left;
      &:before {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid $color2;
        border-bottom: 0.5rem solid transparent;
        border-left: none;
        transform: translateY(-50%);
        top: calc((#{$container-max-width-mobile-landscape} / #{$grid-columns-mobile-landscape}) / 2);
        right: auto;
        bottom: auto;
        left: -0.5rem;
      }
    }
  }
  @media screen and (min-width: #{$container-max-width-tablet}) and (max-width: #{$container-max-width-desktop - 1}) {
    &[data-placement-md='right'] {
      text-align: left;
      top: 0;
      right: auto;
      bottom: auto;
      left: 100%;
      transform-origin: top left;
      &:before {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid $color2;
        border-bottom: 0.5rem solid transparent;
        border-left: none;
        transform: translateY(-50%);
        top: calc((#{$container-max-width-tablet} / #{$grid-columns-tablet}) / 2);
        right: auto;
        bottom: auto;
        left: -0.5rem;
      }
    }
  }
  @media screen and (min-width: #{$container-max-width-desktop}) {
    &[data-placement-lg='right'] {
      text-align: left;
      top: 0;
      right: auto;
      bottom: auto;
      left: 100%;
      transform-origin: top left;
      &:before {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid $color2;
        border-bottom: 0.5rem solid transparent;
        border-left: none;
        transform: translateY(-50%);
        top: calc((#{$container-max-width-desktop} / #{$grid-columns-desktop}) / 2);
        right: auto;
        bottom: auto;
        left: -0.5rem;
      }
    }
  }
  // LEFT:
  @media screen and (max-width: #{$container-max-width-mobile-landscape - 1}) {
    &[data-placement-xs='left'] {
      text-align: right;
      top: 0;
      right: 100%;
      bottom: auto;
      left: auto;
      transform-origin: top right;
      &:before {
        border-top: 0.5rem solid transparent;
        border-right: none;
        border-bottom: 0.5rem solid transparent;
        border-left: 0.5rem solid $color2;
        transform: translateY(-50%);
        top: 25vw;
        right: -0.5rem;
        bottom: auto;
        left: auto;
      }
    }
  }
  @media screen and (min-width: #{$container-max-width-mobile-landscape}) and (max-width: #{$container-max-width-tablet - 1}) {
    &[data-placement-sm='left'] {
      text-align: right;
      top: 0;
      right: 100%;
      bottom: auto;
      left: auto;
      transform-origin: top right;
      &:before {
        border-top: 0.5rem solid transparent;
        border-right: none;
        border-bottom: 0.5rem solid transparent;
        border-left: 0.5rem solid $color2;
        transform: translateY(-50%);
        top: calc((#{$container-max-width-mobile-landscape} / #{$grid-columns-mobile-landscape}) / 2);
        right: -0.5rem;
        bottom: auto;
        left: auto;
      }
    }
  }
  @media screen and (min-width: #{$container-max-width-tablet}) and (max-width: #{$container-max-width-desktop - 1}) {
    &[data-placement-md='left'] {
      text-align: right;
      top: 0;
      right: 100%;
      bottom: auto;
      left: auto;
      transform-origin: top right;
      &:before {
        border-top: 0.5rem solid transparent;
        border-right: none;
        border-bottom: 0.5rem solid transparent;
        border-left: 0.5rem solid $color2;
        transform: translateY(-50%);
        top: calc((#{$container-max-width-tablet} / #{$grid-columns-tablet}) / 2);
        right: -0.5rem;
        bottom: auto;
        left: auto;
      }
    }
  }
  @media screen and (min-width: #{$container-max-width-desktop}) {
    &[data-placement-lg='left'] {
      text-align: right;
      top: 0;
      right: 100%;
      bottom: auto;
      left: auto;
      transform-origin: top right;
      &:before {
        border-top: 0.5rem solid transparent;
        border-right: none;
        border-bottom: 0.5rem solid transparent;
        border-left: 0.5rem solid $color2;
        transform: translateY(-50%);
        top: calc((#{$container-max-width-desktop} / #{$grid-columns-desktop}) / 2);
        right: -0.5rem;
        bottom: auto;
        left: auto;
      }
    }
  }
}

.card--avatar__caption__text {
  display: block;
  line-height: 1.4;
  opacity: 0;
}

.card--avatar__caption__quote {
  display: block;
  line-height: 1.4;
  margin: 0.5rem 0;
  opacity: 0;
  position: relative;
  &:before,
  &:after {
    letter-spacing: 0;
    position: absolute;
  }
  &:before {
    content: '“';
    left: -0.6em;
  }
  &:after {
    content: '”';
  }
}

.card--video {
  justify-content: center;
  .icon--play {
    width: 4rem;
    height: 2.875rem;
  }
  &:hover,
  &:focus {
    .icon {
      fill: $color2;
    }
  }
}

.card--video--type-1,
.card--video--type-3 {
  background-color: $color3;
  background-image: url('../../assets/img/bg-mono.jpg');
  background-size: cover;
  .icon--play {
    fill: $color5;
  }
}

.card--video--type-2 {
  .icon--play {
    fill: $color3;
  }
}

.card--video--type-3 {
  .icon--play {
    fill: $color6;
  }
}

.card--link {
  text-decoration: none;
}

.card__heading {
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  margin: 0;
  text-transform: uppercase;
  padding-left: 0.35rem;
  @media screen and (min-width: #{$container-max-width-tablet}) {
    font-size: 2rem;
    padding-left: 0;
  }
}

.card__text {
  color: $color2;
  font-weight: 900;
  letter-spacing: 0.15em;
  line-height: 1.5625;
  margin: 0;
  text-align: right;
  text-transform: uppercase;
}

.card__link {
  color: $color4;
  display: block;
  font-size: 1.125rem;
  line-height: 1.388;
  text-decoration: none;
  transition: color 0.2s ease-out;
  &:hover,
  &:focus {
    color: $color4;
    .card__link__highlight {
      background-color: $color5;
      color: $color3;
      transition: color 0.5s ease-in;
    }
  }
}

.card__link__highlight {
  color: $color5;
  padding-left: 0.1em;
  text-decoration: underline;
}
