.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 12.5% [col-start]);
  grid-template-rows: repeat(21, calc(#{$container-max-width-tablet} / 8) [row-start]);
}

.list__item {
  // All ARRAY letters
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // A
  &:nth-of-type(1) {
    align-items: flex-start;
    grid-column-start: col-start 1;
  }
  // R
  &:nth-of-type(2) {
    grid-column-start: col-start 2;
    grid-row-start: row-start 1;
    .icon {
      transform: rotate(-45deg);
    }
  }
  // R
  &:nth-of-type(3) {
    grid-column-start: col-start 1;
    grid-row-start: row-start 2;
  }
  // A
  &:nth-of-type(4) {
    grid-column-start: col-start 2;
    grid-row-start: row-start 3;
    .icon {
      transform: rotate(-180deg);
    }
  }
  // Y
  &:nth-of-type(5) {
    align-items: flex-start;
    grid-column-start: col-start 1;
    grid-row-start: row-start 4;
    justify-content: flex-end;
  }
  // Text card
  &:nth-of-type(6) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 7;
  }
  // Text card
  &:nth-of-type(7) {
    grid-column-start: 1;
    grid-column-end: col-start 2;
    grid-row-start: row-start 1;
  }
  // Text card (with link)
  &:nth-of-type(8) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 4;
    .card__text {
      max-width: 75%;
    }
  }
  // First image
  &:nth-of-type(9) {
    grid-column-start: col-start 7;
    grid-column-end: col-start 8;
    grid-row-start: row-start 4;
  }
  // Text card (first date)
  &:nth-of-type(10) {
    grid-column-start: col-start 1;
    grid-column-end: col-start 3;
    grid-row-start: row-start 5;
  }
  // Text card (first simple text)
  &:nth-of-type(11) {
    grid-column-start: col-start 2;
    grid-column-end: col-start 6;
    grid-row-start: row-start 5;
  }
  // Text card (second simple text, in white)
  &:nth-of-type(12) {
    grid-column-start: col-start 3;
    grid-column-end: col-start 4;
    grid-row-start: row-start 6;
    .card__text {
      text-align: left;
    }
  }
  // Text card (second date)
  &:nth-of-type(13) {
    grid-column-start: col-start 3;
    grid-column-end: col-start 5;
    grid-row-start: row-start 7;
  }
  // Artist title 1
  &:nth-of-type(14) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 8;
    grid-row-start: row-start 6;
    .card {
      align-items: flex-end;
      justify-content: flex-start;
      padding: 0;
    }
  }
  // Artist photo 1
  &:nth-of-type(15) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 8;
    grid-row-start: row-start 7;
  }
  // Artist title 2
  &:nth-of-type(16) {
    grid-column-start: col-start 2;
    grid-column-end: col-start 3;
    grid-row-start: row-start 8;
    .card {
      align-items: flex-end;
      justify-content: flex-start;
      padding: 0;
    }
  }
  // Artist photo 2
  &:nth-of-type(17) {
    grid-column-start: col-start 2;
    grid-column-end: col-start 5;
    grid-row-start: row-start 9;
  }
  // Artist title 3
  &:nth-of-type(18) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 8;
    grid-row-start: row-start 11;
    .card {
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0;
    }
    .card__heading {
      text-align: right;
    }
  }
  // Artist photo 3
  &:nth-of-type(19) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 8;
    grid-row-start: row-start 9;
  }
  // Text card (third simple text, in white)
  &:nth-of-type(20) {
    grid-column-start: 1;
    grid-column-end: col-start 1;
    grid-row-start: row-start 10;
    .card__text {
      text-align: left;
    }
  }
  // Text card (third date)
  &:nth-of-type(21) {
    grid-column-start: 1;
    grid-column-end: col-start 2;
    grid-row-start: row-start 11;
  }
  // Artist title 4
  &:nth-of-type(22) {
    grid-column-start: 1;
    grid-column-end: col-start 3;
    grid-row-start: row-start 14;
    .card {
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0;
    }
    .card__heading {
      text-align: right;
    }
  }
  // Artist photo 4
  &:nth-of-type(23) {
    grid-column-start: 1;
    grid-column-end: col-start 3;
    grid-row-start: row-start 12;
  }
  // Artist title 5
  &:nth-of-type(24) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 13;
    .card {
      align-items: flex-end;
      justify-content: flex-end;
      padding: 0;
    }
    .card__heading {
      text-align: right;
    }
  }
  // Artist photo 5
  &:nth-of-type(25) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 14;
  }
  // Artist title 6
  &:nth-of-type(26) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 18;
    .card {
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0;
    }
    .card__heading {
      text-align: right;
    }
  }
  // Artist photo 6
  &:nth-of-type(27) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 16;
  }
  // Artist title 7
  &:nth-of-type(28) {
    grid-column-start: 1;
    grid-column-end: col-start 4;
    grid-row-start: row-start 15;
    .card {
      align-items: flex-end;
      justify-content: flex-start;
      padding: 0;
    }
  }
  // Artist photo 7
  &:nth-of-type(29) {
    grid-column-start: 1;
    grid-column-end: col-start 3;
    grid-row-start: row-start 16;
  }
}
