.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--grid {
  display: grid;
  @media screen and (min-width: #{$container-max-width-mobile-landscape}) {
    grid-template-columns: repeat($grid-columns-mobile-landscape, calc(#{$container-max-width-mobile-landscape} / #{$grid-columns-mobile-landscape}) [col-start]);
    grid-template-rows: repeat($grid-rows-mobile-landscape, calc(#{$container-max-width-mobile-landscape} / #{$grid-columns-mobile-landscape}) [row-start]);
  }
  @media screen and (min-width: #{$container-max-width-tablet}) {
    grid-template-columns: repeat($grid-columns-tablet, calc(#{$container-max-width-tablet} / #{$grid-columns-tablet}) [col-start]);
    grid-template-rows: repeat($grid-rows-tablet, calc(#{$container-max-width-tablet} / #{$grid-columns-tablet}) [row-start]);
  }
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-template-columns: repeat($grid-columns-desktop, calc(#{$container-max-width-desktop} / #{$grid-columns-desktop}) [col-start]);
    grid-template-rows: repeat($grid-rows-desktop, calc(#{$container-max-width-desktop} / #{$grid-columns-desktop}) [row-start]);
  }
}

// ARRAY logo
#list__item__1 {
  align-items: center;
  display: flex;
  justify-content: center;
  grid-column-start: col-start 2;
  grid-column-end: col-start 5;
  grid-row-start: row-start 2;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 3;
    grid-column-end: col-start 6;
  }
}

// Instagram link
#list__item__2 {
  grid-column-start: col-start 5;
  grid-column-end: col-start 6;
  grid-row-start: row-start 2;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 7;
    grid-column-end: col-start 8;
  }
}

// Text card
#list__item__6 {
  grid-column-start: col-start 4;
  grid-column-end: col-start 6;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 7;
  }
}

// Text card
#list__item__7 {
  grid-column-start: 1;
  grid-column-end: col-start 2;
  grid-row-start: row-start 2;
}

// Text card (with link)
#list__item__8 {
  grid-column-start: col-start 2;
  grid-column-end: col-start 5;
  grid-row-start: row-start 4;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
  }
  .card__text {
    max-width: 75%;
  }
}

// First image
#list__item__9 {
  grid-column-start: col-start 5;
  grid-column-end: col-start 6;
  grid-row-start: row-start 4;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 7;
    grid-column-end: col-start 8;
  }
}

// Text card (first date)
#list__item__10 {
  grid-column-start: 1;
  grid-column-end: col-start 2;
  grid-row-start: row-start 5;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 1;
    grid-column-end: col-start 3;
  }
}

// Text card (first simple text)
#list__item__11 {
  grid-column-start: col-start 1;
  grid-column-end: col-start 5;
  grid-row-start: row-start 5;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 2;
    grid-column-end: col-start 6;
  }
}

// Text card (second simple text, in white)
#list__item__12 {
  grid-column-start: col-start 1;
  grid-column-end: col-start 2;
  grid-row-start: row-start 6;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 3;
    grid-column-end: col-start 4;
  }
}

// Text card (second date)
#list__item__13 {
  grid-column-start: col-start 1;
  grid-column-end: col-start 3;
  grid-row-start: row-start 7;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 3;
    grid-column-end: col-start 5;
  }
}

// Artist title 1
#list__item__14 {
  grid-column-start: col-start 3;
  grid-column-end: col-start 6;
  grid-row-start: row-start 6;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 8;
  }
  .card {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
  }
}

// Artist photo 1
#list__item__15 {
  grid-column-start: col-start 3;
  grid-column-end: col-start 6;
  grid-row-start: row-start 7;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 8;
  }
}

// Artist title 2
#list__item__16 {
  grid-column-start: 1;
  grid-column-end: col-start 1;
  grid-row-start: row-start 8;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 2;
    grid-column-end: col-start 3;
  }
  .card {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
  }
}

// Artist photo 2
#list__item__17 {
  grid-column-start: 1;
  grid-column-end: col-start 3;
  grid-row-start: row-start 9;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 2;
    grid-column-end: col-start 5;
  }
}

// Artist title 3
#list__item__18 {
  grid-column-start: col-start 3;
  grid-column-end: col-start 6;
  grid-row-start: row-start 11;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 8;
  }
  .card {
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
  }
  .card__heading {
    text-align: right;
  }
}

// Artist photo 3
#list__item__19 {
  grid-column-start: col-start 3;
  grid-column-end: col-start 6;
  grid-row-start: row-start 9;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 5;
    grid-column-end: col-start 8;
  }
}

// Text card (third simple text, in white)
#list__item__20 {
  grid-column-start: 1;
  grid-column-end: col-start 1;
  grid-row-start: row-start 11;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-row-start: row-start 10;
  }
}

// Text card (third date)
#list__item__21 {
  grid-column-start: 1;
  grid-column-end: col-start 2;
  grid-row-start: row-start 12;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-row-start: row-start 11;
  }
}

// Artist title 4
#list__item__22 {
  grid-column-start: 1;
  grid-column-end: col-start 3;
  grid-row-start: row-start 15;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-row-start: row-start 14;
  }
  .card {
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
  }
  .card__heading {
    text-align: right;
  }
}

// Artist photo 4
#list__item__23 {
  grid-column-start: 1;
  grid-column-end: col-start 3;
  grid-row-start: row-start 13;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-row-start: row-start 12;
  }
}

// Artist title 5
#list__item__24 {
  grid-column-start: col-start 3;
  grid-column-end: col-start 6;
  grid-row-start: row-start 15;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 13;
  }
  .card {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
  }
  .card__heading {
    text-align: right;
  }
}

// Artist photo 5
#list__item__25 {
  grid-column-start: col-start 3;
  grid-column-end: col-start 6;
  grid-row-start: row-start 16;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 14;
  }
}

// Artist title 6
#list__item__26 {
  grid-column-start: col-start 3;
  grid-column-end: col-start 6;
  grid-row-start: row-start 20;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 18;
  }
  .card {
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
  }
  .card__heading {
    text-align: right;
  }
}

// Artist photo 6
#list__item__27 {
  grid-column-start: col-start 3;
  grid-column-end: col-start 6;
  grid-row-start: row-start 18;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 4;
    grid-column-end: col-start 7;
    grid-row-start: row-start 16;
  }
}

// Artist title 7
#list__item__28 {
  grid-column-start: 1;
  grid-column-end: col-start 4;
  grid-row-start: row-start 21;
  .card {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-row-start: row-start 15;
    .card {
      align-items: flex-end;
    }
  }
}

// Artist photo 7
#list__item__29 {
  grid-column-start: 1;
  grid-column-end: col-start 3;
  grid-row-start: row-start 19;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-row-start: row-start 16;
  }
}

// Producer/funder logos
#list__item__30,
#list__item__31,
#list__item__32,
#list__item__33,
#list__item__34,
#list__item__35 {
  display: flex;
  height: 100%;
  .list__item__link {
    display: block;
  }
}


// PRS logo
#list__item__30 {
  align-items: center;
  grid-column-start: 1;
  grid-column-end: col-start 2;
  grid-row-start: row-start 22;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-row-start: row-start 19;
  }
}

// Arts Council logo
#list__item__31 {
  align-items: center;
  grid-column-start: col-start 3;
  grid-column-end: col-start 5;
  grid-row-start: row-start 22;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    align-items: flex-end;
    grid-row-start: row-start 19;
  }
}

// The Albany logo
#list__item__32 {
  align-items: center;
  grid-column-start: col-start 5;
  grid-column-end: col-start 6;
  grid-row-start: row-start 22;
  justify-content: flex-end;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 6;
    grid-column-end: col-start 7;
    grid-row-start: row-start 19;
    justify-content: center;
  }
  .img-fluid {
    max-width: 6.5rem;
  }
}

// Social Convention logo
#list__item__33 {
  align-items: center;
  grid-column-start: col-start 1;
  grid-column-end: col-start 2;
  grid-row-start: row-start 23;
  justify-content: center;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-row-start: row-start 20;
  }
  .img-fluid {
    max-width: 7rem;
  }
}

// Call And Response logo
#list__item__34 {
  align-items: flex-end;
  grid-column-start: col-start 2;
  grid-column-end: col-start 4;
  grid-row-start: row-start 23;
  justify-content: flex-end;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    grid-column-start: col-start 3;
    grid-column-end: col-start 5;
    grid-row-start: row-start 20;
  }
  .img-fluid {
    max-width: 12rem;
  }
}

// NX Records logo
#list__item__35 {
  align-items: flex-end;
  grid-column-start: col-start 6;
  grid-column-end: col-start 4;
  grid-row-start: row-start 23;
  justify-content: center;
  @media screen and (min-width: #{$container-max-width-desktop}) {
    align-items: center;
    grid-column-start: col-start 5;
    grid-column-end: col-start 7;
    grid-row-start: row-start 20;
  }
  .img-fluid {
    max-width: 11rem;
  }
}
